@import '../css_utils.scss';

.Popup{
    @extend %center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $accent5;
    &-exit{
        position: fixed;
        text-align: left;
        padding: 1em;
        &:hover{
            color: white;
            background-color: red;
        }
    }
    &-header{
        word-wrap: break-word;
        margin: .5em .8em;
        font-size: 1em;

    }
    p, li{
        font-size: 2em;
    }
    img{
        width: 16em;
        height: 16em;
        object-fit: cover;
        border-radius: 3%;
    }
}

.prodPopup{
    .options{
        position: absolute;
        width: 100%;
        margin-top: 4em;
        display: flex;
        flex-direction: column;
        justify-items: center;
        bottom: 0;
        button{
            background-color: $accent2;
            height: 2em;
            font-size: 3.5em;
        }
    }
    img{
        margin-top: 3em;
        width: 24em;
        height: 24em;
    }
    p{
        line-height: 4em;
        font-size: 4em;
    }
}

@media screen and (min-width: 650px){
    .Popup{
        top: 40%;
        border-radius: 100%;
        height: 40em;
        width: 40em;
        &-exit{
            left: 8%;
            border-radius: 100%;
            color: white;
            background-color: red;
            transform: translateX(-50%);
            font-size: 25px;
            width: 1em;
            height: 1em;
            &:hover{
                
            }
        }
        &-header{
            margin-top: 1.4em;
            font-size: 1.3em;
            &-text{
                margin: auto 2em;
            }
        }
        img{
            width: 16em;
            height: 16em;
        }
    }
    .prodPopup{
        .options{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: .4;
            top: 90%;
            button{
                height: 4em;
                width: 4em;
                border-radius: 100%;
            }
        }
        img{
            margin-top: 1em;
            width: 18em;
            height: 18em;
        }
        p{
            line-height: 1em;
            font-size: 4em;
        }
    }
}

