@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

$accent1: #02fb55d7;
$accent2: #0E89B2;
$accent3: #0548AD;
$accent4: #0F458C;
$accent5: #213D72;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Alata', sans-serif;
    background-color: #2e2e2e;
}

a{
    text-decoration: none;
    color: inherit;
}

%center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
