@import '../../Components/css_utils.scss';

li{
    list-style-type: none;
}

img{
    width: 9em;
    height: 9em;
    object-fit: cover;
    border-radius: 3%;
}

#Products{
    word-wrap: break-word;
    .prods{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        &-block{
            font-size: 1.1em;
            vertical-align: center;
            color: $accent1;
            width: 11em;
            padding: 1em 0;
            margin: 1em 0;
            box-shadow: 0 0 5px 1px black;
        }
    }
}

#filters{
    .selectors{
        text-align: center;
        display: flex;
        justify-content: space-around;
        div{
            width: 100%;
            height: 5em;
            p{
                font-size: 1.5rem;
                line-height: 3em;
            }
        }
        &-option{
            background-color: $accent2;
        }
        &-selector{
            color: $accent2;
        }
    }
    .catagories{
        border-top: 2px solid $accent2;
        &-option{
            padding: 1em 1em;
            border-bottom: 2px solid $accent2;
            text-align: center
        }
    }
}

@media only screen and (min-width: 768px) {
    #Products{
        .prods{
            animation-name: rollIn;
            animation-duration: 1s ease;
            grid-template-columns: 1fr 1fr 1fr;
            &-block{
                padding-bottom: 1em;
                &-name{
                    font-size: 1.1em;
                    height: 2.5em;
                }
            }
        }
    }
}

@keyframes rollIn {
    0%{
        position: absolute;
        right: -20;
        background-color: red;
    }
    100%{
        position: relative;
        right: 100;
        background-color: blue;
    }
}